[core]
	editor = \"C:\\Users\\Shawn\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = ShawnMayol
	email = 143300580+MayolShawn@users.noreply.github.com
